@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --main-color: #ECEDE8;
    --second-color: #D6D6D6;
    --third-color: #5C5C5C;
    --fourth-color: #000000;
    --black: #000000;
    --white: white;
    --yellow: #F4D05B;
    --lighter-yellow: #F4D05B;
    --rose-red: #BA224A;
    --lighter-red: #e22759;
    --green: #19B912;
    --lighter-green: #1fd515;
    --blue: #00bbf0;
    --lighter-blue: #04c9ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    user-select: none;
    color: var(--fourth-color);
}

body{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    min-height: 100vh;
    width: 100%;
    font-size: 15px;
    background-color: var(--second-color);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.container-item{
    width: 100%;
    border: none;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
}


.notes-controls, .socials{
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.socials-link{
    text-decoration: none;
}

.socials-image{
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.02);
    object-fit: contain;
}

#github-image{
    background-color: white;
}

.notes-control{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.icon{
    font-size: 2rem;
    font-weight: 700;
    color: inherit;
}

.notes-control:hover .explain{
    display: block;
}

.explain{
    display: none;
    position: absolute;
    bottom: calc(100% + 0.5rem);
    transform: translateX(-50%);
    left: 50%;
    padding: 1rem;
    background-color: var(--fourth-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.02);
}

.explain-text{
    display: inline;
    color: var(--main-color);
    text-wrap: nowrap;
    font-size: 1rem;
}

.explain-triangle{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    box-sizing: content-box;

    width: 0; 
    height: 0; 
    border-left: 0.5rem solid transparent;
    border-right:0.5rem solid transparent; 
    border-top: 0.5rem solid var(--fourth-color); 
  

}

#toggle-visibility{
    background-color: var(--rose-red);
    color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.131);
}

#toggle-visibility:hover{
    background-color: var(--lighter-red);
}

#toggle-visibility .icon{
    position: absolute;
    bottom: 0px;
}

#dark-mode{
    position: relative;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.131);
}

.dark-mode--active{
    background-color: var(--third-color) !important;
}

#dark-mode:hover{
    background-color: var(--lighter-blue);
}

#dark-mode .icon{
    position: absolute;
    bottom: 1px;
}

#add-note{
    background-color: var(--green);
    color: var(--main-color);
    border: 1px solid rgba(0, 0, 0, 0.131);
}

#add-note:hover{
    background-color: var(--lighter-green);
}

#add-note .icon{
    position: absolute;
    font-size: 3rem;
    color: var(--white);
    top: -11px;
}

#note-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#note-form input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10px;
    color: var(--fourth-color);
    border: 1px solid rgba(0, 0, 0, 0.098);
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.02);
    outline: none;
}

/* #note-form #note-title{
    padding: 0.5rem;
} */

#note-form button[type="submit"]{
    background-color: var(--green);
    color: var(--main-color);
    outline: none;
    border: none;
}

.note-form--labels{
    display: flex;
    justify-content: space-between;
}

.note-form--labels label{
    font-size: 1.25rem;
    font-weight: 500;
}

.note-form--error{
    color: var(--rose-red);
}

.notes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.note-container{
    position: relative;
    background-color: var(--main-color); 
    padding: 1rem;
    padding-top: 2.5rem;
    min-height: 150px;
    min-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.146);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.note-container:hover .note{
    background-color: var(--lighter-yellow);
}

.note{
    background-color: var(--yellow);
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: var(--black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.131);
}

.note-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fourth-color);
    position: absolute;
    left: 2rem;
    top: 0.5rem;
}

.note-controls{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.delete-note{
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--rose-red);
}

.delete-note:hover{
    background-color: var(--lighter-red);
}

.delete-note .icon{
    font-size: 1rem;
}

.edit-note{
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--blue);
}

.edit-note:hover{
    background-color: var(--lighter-blue);
}

.edit-note .icon{
    position: absolute;
    bottom: 2px;
    font-size: 1rem;
}

.margin-top{
    margin-top: 2rem;
}

.text-paragraph{
    font-size: 1.1rem;
}

.footer{
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.footer-link{
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--blue);
}

.footer-link:hover{
    color: var(--lighter-blue);
}

.footer-link::after{
    content: '|';
    position: absolute;
    right: -1rem;
}

.hidden{
    display: none !important;
}
